[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
"flake8" = "*"
"flake8-docstrings" = "*"
sphinx = "*"
sphinx-rtd-theme = "*"

[packages]
numpy = "*"
scipy = "*"
sklearn = "*"
pandas = "*"
"h5py" = "*"
keras = "*"
tqdm = "*"
tensorflow-gpu = "*"
librosa = "*"
pydub = "*"

[requires]
python_version = "3.5"
