-i https://pypi.org/simple/
absl-py==0.12.0
astor==0.8.1
audioread==2.1.9
backports.weakref==1.0.post1
decorator==5.0.7
enum34==1.1.10
gast==0.4.0
grpcio==1.37.0
h5py==2.8.0
joblib==1.0.1
keras-applications==1.0.8
keras-preprocessing==1.1.2
keras==2.2.4
librosa==0.6.2
llvmlite==0.36.0
markdown==3.3.4
mock==4.0.3
numba==0.53.1
numpy==1.15.4
pandas==0.23.4
protobuf==3.15.8
pydub==0.23.0
python-dateutil==2.8.1
pytz==2021.1
pyyaml==5.4
resampy==0.2.2
scikit-learn==0.24.1
scipy==1.1.0
six==1.15.0
sklearn==0.0
tensorboard==1.12.2
tensorflow-gpu==1.12.0
termcolor==1.1.0
threadpoolctl==2.1.0
tqdm==4.28.1
werkzeug==1.0.1
wheel==0.36.2 ; python_version >= '3'
