-i https://pypi.org/simple/
absl-py==0.9.0
astor==0.8.1
audioread==2.1.8
backports.weakref==1.0.post1
decorator==4.4.2
enum34==1.1.10
gast==0.3.3
grpcio==1.29.0
h5py==2.8.0
joblib==0.15.1
keras-applications==1.0.8
keras-preprocessing==1.1.2
keras==2.2.4
librosa==0.6.2
llvmlite==0.33.0
markdown==3.2.2
mock==4.0.2
numba==0.50.0
numpy==1.15.4
pandas==0.23.4
protobuf==3.12.2
pydub==0.23.0
python-dateutil==2.8.1
pytz==2020.1
pyyaml==5.3.1
resampy==0.2.2
scikit-learn==0.23.1
scipy==1.1.0
six==1.15.0
sklearn==0.0
tensorboard==1.12.2
tensorflow-gpu==1.12.0
termcolor==1.1.0
threadpoolctl==2.1.0
tqdm==4.28.1
werkzeug==0.15.3
wheel==0.34.2 ; python_version >= '3'
